$color-primario: #e2b433;
$color-secundario: yellow;
$color-fondo: tan;
$color-texto: black;
$fuente-base: 'Arial', sans-serif;
$fuente-titulo: 'Georgia', serif;
$custom-heading-size: calc(1.325rem + .9vw);